    <div class="row text-center" >
            <div class="col-sm-4">
                <div class="thumbnail" >
                    <img ng-src="{/product.image/}">
                </div>
            </div>
            <strong>{/product.name/}</strong>
                            <p>Rs{/product.price/}</p>
                        <p>{/product.Featured/}</p>
                        <br>
                        <br>
              <button class="btn" ng-click="add_to_cart(product.id)">Add To cart</button></a>
              <p>NOTE: Our sizes are STANDARD EUROPEAN sizes. Please refer size guide to ensure proper fit.</p>
    </div>
<div class="category_items"></div>
<div id="cartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Shopping Cart</h4>
            </div>
            <div class="modal-body">
                <span id="discard_cart_btn" class="glyphicon glyphicon-trash clickable" ng-click="discard_cart()"></span>
                <table class="table">
                <tr ng-repeat="item in cart_items">
                        <td><img src="{/item.image/}" height="50" width="50"></td>
                        <td>{/ item.name /}</td>
                        <td>x{/ item.quantity /}</td>
                        <td class="text-right">&#x20b9;{/item.price /} </td>
                        <td class="glyphicon glyphicon-remove clickable" ng-click="remove_cart_item(item.id)"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                        <div class="modal-footer">
                Total Price : {/ cart_total_price /}
                    <a button type="button" class="btn btn-primary" href="#/checkout/">Checkout</a>
            </div>
        </div>
    </div>
</div>
</div>
