    <div class="row text-center" >
            <div class="col-sm-4">
                <div class="thumbnail" >
                    <img ng-src="{/product.image/}" height="350px" width="350px">
                </div>
            </div>
            <br><br><br><br>
            <strong>{/product.name/}</strong>
                    <p>Rs{/product.price/}</p>
                    <p>{/product.Featured/}</p>
                        <br>
                        <br><br><br>
              <button class="btn" ng-click="add_to_cart(product.id)" >Add To cart</button></a>
              <p>NOTE: Our sizes are STANDARD EUROPEAN sizes. Please refer size guide to ensure proper fit.</p>
    </div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
           <div class="alert alert-success">
                <strong>Success!</strong> Product SuccessFully added to the cart.
       </div>
    </div>
</div>
