    <div class="row text-center" >
            <div class="col-sm-12">
                <div class="thumbnail" >
                    <a href="#/category/category_items/5/"><img src="/static/images/bann1.jpg"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail" >
                    <a href="#/category/category_items/7/"><img src="/static/images/sbann1.jpg"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail" >
                    <a href="#/category/category_items/9/"><img src="/static/images/cloth.jpg"></a>
                </div>
            </div>
    </div>

